.input-label {
  padding-bottom: 6px;
  color: #000000;
}

.input-input {
  width: 100%;
  border: 1px solid #d4d4d4;
  padding: 12px;
  height: 45px;
  color: #000000;
  border-radius: 8px;
  font-size: 1.2rem;
}
